name: Node.js Package

on:
    push:
        branches:
            - "master"

jobs:
    dist-file-exists:
        runs-on: ubuntu-latest
        outputs:
            output1: ${{ steps.check_files.outputs.exists }}

        steps:
            - name: checkout code
              uses: actions/checkout@v3

            - name: check file existence
              id: check_files
              uses: andstor/file-existence-action@v1
              with:
                  files: "dist/index.js"

            - name: Setup Node
              if: steps.check_files.outputs.files_exists == 'true'
              uses: actions/setup-node@v3
              with:
                  node-version: 16
                  registry-url: https://npm.pkg.github.com/

            - name: Publish
              if: steps.check_files.outputs.files_exists == 'true'
              run: npm publish
              env:
                  NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

            # - name: Make changes and commit
            #   env:
            #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            #   run: |
            #     echo a >> test.txt
            #     git add .
            #     git commit -m "Test commit from github action" --no-verify
            #     git push

            # - name: File exists
            #   if: steps.check_files.outputs.files_exists == 'true'
            #   # Only runs if all of the files exists
            #   # run: echo All files exists!
            #   run: |
            #     echo "File exists"
            #     echo "exists=true" >> "$GITHUB_OUTPUT"

            # - run: echo "exists=steps.check_files.outputs.file_exists" >> "$GITHUB_OUTPUT"
            # - run: echo ${steps.check_files.outputs.file_exists}

    # publish-gpr:
    #   runs-on: ubuntu-latest
    #   needs: dist-file-exists
    #   permissions:
    #     packages: write
    #     contents: read
    #   steps:

    #     - name: Checkout
    #       uses: actions/checkout@v3
    #     - run: echo ${{ needs.dist-file-exists.outputs.output1}}

    #     - name: Publish
    #       if: ${{ needs.dist-file-exists.outputs.output1 }} == 'true'
    #       uses: actions/setup-node@v3
    #       with:
    #         node-version: 16
    #         registry-url: https://npm.pkg.github.com/
    #     - run: npm publish
    #       env:
    #         NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

    # set-env-repo-name:
    #   runs-on: ubuntu-latest
    #   name: Set env for repository name
    #   steps:
    #     - name: Set ENV variables
    #       run: |
    #         echo "REPO_NAME=${GITHUB_REPOSITORY#$GITHUB_REPOSITORY_OWNER/}" >> $GITHUB_ENV
    #     - name: Use the custom ENV variable
    #       run: |
    #         echo $REPO_NAME

    # package-update-name:
    #   runs-on: ubuntu-latest
    #   name: Update Package Name in package.json
    #   steps:
    #     - uses: actions/checkout@v3
    #     - uses: jaywcjlove/github-action-package@main
    #       with:
    #         data: |
    #           {
    #             "author": "${GITHUB_ACTOR}",
    #             "name": "${GITHUB_REPOSITORY#$GITHUB_REPOSITORY_OWNER/}",
    #             "description": "A Dash project"
    #           }
    #       id: info
    #     - run: echo "name - ${{ steps.info.outputs.name }}"
    #     - run: echo "version - ${{ steps.info.outputs.version }}"
    #     - run: echo "description - ${{ steps.info.outputs.description }}"
    #     - run: echo "author - ${{ steps.info.outputs.author }}"

    # package-json-update:
    #   runs-on: ubuntu-latest
    #   name: Update package.json values
    #   steps:
    #     - name: Checkout repo code
    #       uses: actions/checkout@v3

    #     - name: Update package.json values
    #       uses: restackio/update-json-values-action@v1.0.0
    #       with:
    #         file: package.json
    #         values: "{\"author\": \"${GITHUB_ACTOR}\"}"

    # need to conditionally
    # - name: commit
    #   run: |
    #       # Stage the file, commit and push
    #       git add package.json
    #       git commit -m "Updated package.json"
    #       git push origin master
