# Rename package.json
# The repository from template will utilize the name from the template
# package.json file and we want that name to reflect the name
# of the repository being created.

name: package.json rename to repo

on: [create]
# on:
#   push:
#     branches:
#       - "master"
#   create:

jobs:
    package-update-name:
        runs-on: ubuntu-latest
        name: Update Package Name in package.json
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Fetch package.json
              uses: jaywcjlove/github-action-package@main
              id: info
            - run: echo "name - ${{ steps.info.outputs.name }}"
            - run: echo "version - ${{ steps.info.outputs.version }}"

            # Only rename the package if the repo name is
            - name: Rename package
              if: steps.info.outputs.name == '@trops/dash'
              uses: jaywcjlove/github-action-package@main
              with:
                  data: |
                      {
                        "name": "@${{ github.repository }}",
                        "author": "${{ github.actor }}"
                      }
              id: rename
            - run: echo "current repo ${{ github.repository }}"
            - run: echo "name - ${{ steps.rename.outputs.name }}"
            - run: echo "version - ${{ steps.rename.outputs.version }}"
            - run: echo "author - ${{ steps.rename.outputs.author }}"

            # Delete files from script package-widgets if they exist
            # have to include in the repository to package the widgets for the template repo
            # - name: Delete dist files
            #   # if: ( steps.rename.outputs.name != '@algolia/dash-electron' && github.repository != 'algolia/dash-electron' )
            #   run: |
            #       rm dist/index.js
            #       rm dist/index.js.map

            # Only commit the changes if the repository is not algolia/dash-electron (the template)
            - name: Commit changes
              if: ( steps.rename.outputs.name != '@trops/dash' && github.repository != 'trops/dash-electron' )
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  echo "Committing changes"
                  git config --local user.email "action@github.com"
                  git config --local user.name "GitHub Action"
                  git add .
                  git commit -m "master, renamed package.json to current repo"
                  git push origin master
